<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Greeting page - Reflected XXS example</title>
</head>
<body>
<h1>Greeting page - Reflected XXS example</h1>
<hr>

<h2>Как тебя зовут?</h2>

<input id="sendFeedBack" name="feedBackForm" type="text" th:name="feedBackForm1"
       placeholder="Твое имя, красавчик" style="width:60%"/>
<button id="sendFeedBack-button" class="btn btn-danger" onclick="sendFeedBack()">Send!</button>
<br>
<sub><i>p.s. можешь попробовать ввести &lt;script&gt;alert(&#39;XSS&#39;)&lt;/script&gt;</i></sub>
<br>

<style>
    table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
   }
</style>


<script>
    async function sendFeedBack(){
<!--    let data = feedBackForm.value;-->
    let data = document.getElementById("sendFeedBack").value;
    let formData = new FormData();
    formData.append("feedBack", data);

    let response = await fetch('/xss/save-feedback', {
    method: "POST",
    body: formData
    });
  if (response.status == 200) {
    alert("FeedBack sent successfully: " + data);
    location.reload();
  }
}
</script>

<br>

<button id="home" onclick="@{/xss/feedback}">XSS home page</button>

</body>
</html>