<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Greeting page - Reflected XXS example</title>
</head>
<body>
<h1>Greeting page - Reflected XXS example</h1>
<hr>

<h2>Как тебя зовут?</h2>

<input id="sendFeedBack" name="feedBackForm" type="text" th:name="feedBackForm1"
       placeholder="Твое имя, красавчик" style="width:60%"/>
<button id="sendFeedBack-button" class="btn btn-danger" onclick="sendFeedBack()">Send!</button>
<br>
<sub><i>p.s. можешь попробовать ввести &lt;script&gt;alert(&#39;XSS&#39;)&lt;/script&gt;</i></sub>
<br>

<style>
    table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
   }
</style>

<script>
function myFunction()
{
const person = prompt("Please enter your text", "text");

if (person !== null)
{
document.getElementById("demo").textContent = "redcar-" + person;
document.getElementById("demo2").textContent = "greencar-" + person;
document.getElementById("demo3").textContent = "yellowcar-" + person;
}
}
</script>

<button onclick="myFunction()">Try it</button>

<p id="demo"></p>
<p id="demo2"></p>
<p id="demo3"></p>

<table id="infoTable" style="width:100%" class="table table-striped table-responsive-md">
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>date</th>-->
<!--        <th>Feedback ('th:utext')</th>-->
<!--        <th>Feedback (escaped - 'th:text')</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr>-->
<!--        <td th:text="Привет, " + document.getElementById("sendFeedBack").value></td>-->
<!--        &lt;!&ndash; BAD! Not use th:utext attribute that stands for unescaped text.-->
<!--        Use this with caution and avoid user input in th:utext as it can cause security problems.&ndash;&gt;-->
<!--        <td th:utext="${obj.text}"></td>-->
<!--        <td th:text="${obj.text}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
</table>



<script>
    async function sendFeedBack(){
<!--    let data = feedBackForm.value;-->
    let data = document.getElementById("sendFeedBack").value;
    let formData = new FormData();
    formData.append("feedBack", data);

    let response = await fetch('/xss/save-feedback', {
    method: "POST",
    body: formData
    });
  if (response.status == 200) {
    alert("FeedBack sent successfully: " + data);
    location.reload();
  }
}
</script>

<br><br>
<button id="refresh" onclick="location.reload()">Refresh</button>
<br><br>

<hr>
<div style="color:grey" class="footer_copyright">
    © 2024 Anton Barkhatov. All rights reserved.
</div>
</body>
</html>